<div class="container-fluid footer">
    <div class="footer-upper">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-block">
                        <div class="footer-title">
                            <strong>Contactenos</strong>
                        </div>
                        <ul class="footer-list footer-collapse list-group">
                            <li class="e-mail list-group-item">
                                <span>
                                    eShop@Volando.com
                                </span>
                            </li>
                            <li class="mobile-phone list-group-item">
                                <span>
                                    +54 9 11 4533-3311
                                </span>
                            </li>
                            <li class="phone list-group-item">
                                <span>
                                    +54 9 11 4533-2311
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-block">
                        <div class="footer-title">
                            <strong>Información</strong>
                        </div>
                        <ul class="footer-list footer-collapse list-group">
                            <li class="list-group-item"><a href="Contacto">Contactanos</a></li>
                            <li class="list-group-item"><a href="Proximamente">Envío & Devoluciones</a></li>
                            <li class="list-group-item"><a href="Proximamente">Noticias</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-block">
                        <div class="footer-title">
                            <strong>Mi Cuenta</strong>
                        </div>
                        <ul class="footer-list footer-collapse list-group">
                            <li class="list-group-item"><a href="Pedidos">Pedidos</a></li>
                            <li class="list-group-item"><a href="Sucursales">Direcciones</a></li>
                            <li class="list-group-item"><a href="Proximamente">Productos Recientes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-block">
                        <div class="footer-title">
                            <strong>Newsletter</strong>
                        </div>
                        <div class="footer-collapse">
                            <p class="newsletter-subscribe-text">Suscribite para recibir Descuentos!</p>
                        </div>
                        <div class="newsletter">
                            <div class="newsletter-subscribe">
                                <div class="newsletter-email">
                                    <input type="text" class="form-control" />
                                    <button type="button" id="newsletter-subscribe-button" class="newsletter-subscribe-button">
                                        <i class="fas fa-paper-plane"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <ul class="social-sharing">
                <li>
                    <a target="_blank" class="twitter" href="https://twitter.com" rel="noopener noreferrer" aria-label="Twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" class="facebook" href="https://www.facebook.com" rel="noopener noreferrer" aria-label="Facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" class="youtube" href="https://www.youtube.com" rel="noopener noreferrer" aria-label="YouTube">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
                <li>
                    <a class="rss" href="Proximamente" aria-label="RSS">
                        <i class="fas fa-rss"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-lower">
            <div class="footer-disclaimer">Copyright © 2021 Volando. Todos los Derechos Reservados.</div>
            <div class="footer-powered-by">
                Designed by <a href="" target="_blank">Taglioretti Gabriel</a> |
                Powered by <a href="">Blazor</a>
            </div>
        </div>
    </div>
</div>

@code {

}
