@*<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-account-login mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        - Trabajo Final de Ingeniería 2021
    </span>

</div>*@

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
