<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <applicationSettings>
  </applicationSettings>
  <appSettings>
    <add key="RepositorioSQL" value="DAL.Repositories.SQL" />
    <add key="File_en-US" value="I18n\idioma.en-US" />
    <add key="File_es-ES" value="I18n\idioma.es-ES" />
    <add key="File_pt-BR" value="I18n\idioma.pt-BR" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicacionDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ExchangeSystem;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Server=(localdb)\\mssqllocaldb;Database=aspnet-UI-767BBB61-E263-4C52-8F2D-9F05F642EFCF;Trusted_Connection=True;MultipleActiveResultSets=true"/>
    <add name="MasterDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Master;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ApplicacionDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ProductoPersonal;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SeguridadDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Seguridad;Integrated Security=True" />
    <add name="RepoImagenes" connectionString="REPOSITORIO IMAGENES\" />
    <add name="RepoRecetas" connectionString="REPOSITORIO RECETAS\" />
  </connectionStrings>
</configuration>