@page "/Sucursales"
@*LOCALES*@

<div class="container">
    <h4>Sucursales </h4>
    <hr />
    <div class="row">
        <div class="col-sm">
            <div class="card mb-3">
                <img class="card-img-top" src="https://loqueva.com/wp-content/uploads/2019/09/Ropa_Revolver_local_Malabia_1150_loqueva-14.jpg" alt="Card image cap" width="350" height="300">
                <div class="card-body">
                    <h5 class="card-title">Belgrano</h5>
                    <p class="card-text">Cabildo 3654 Belgrano - CABA - 4703-5581.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3">
                <img class="card-img-top" src="Pics\Locales\01.jpg" alt="Card image cap" width="350" height="300">
                <div class="card-body">
                    <h5 class="card-title">Centro</h5>
                    <p class="card-text">Sarmiento 1037 - Microcentro - Capital Federal - 2342-4308.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3">
                <img class="card-img-top" src="Pics\Locales\02.jpg" alt="Card image cap" width="350" height="300">
                <div class="card-body">
                    <h5 class="card-title">Bahia Blanca</h5>
                    <p class="card-text">Alsina 234 - Bahia Blanca - Buenos Aires - 0291-4511622.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card mb-3">
                <img class="card-img-top" src="Pics\Locales\03.jpg" alt="Card image cap" width="350" height="300">
                <div class="card-body">
                    <h5 class="card-title">Palermo</h5>
                    <p class="card-text">Av.Santa Fe 3264 - Palermo - Capital Federal.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3">
                <img class="card-img-top" src="Pics\Locales\04.jpg" alt="Card image cap" width="350" height="300">
                <div class="card-body">
                    <h5 class="card-title">Caballito</h5>
                    <p class="card-text">Av. Rivadavia 5065 - Caballito - Capital Federal.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3">
                <img class="card-img-top" src="Pics\Locales\05.jpg" alt="Card image cap" width="350" height="300">
                <div class="card-body">
                    <h5 class="card-title">Chubut</h5>
                    <p class="card-text">Mitre 820 - Comodoro Rivadavia - Chubut - 02974-441942.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>